@mixin reset-link() {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn() {
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin hidden-input() {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
